#regForm {
  background-color: #ffffff;
  margin: 10px auto;
  padding: 10px;
  width: 70%;
  min-width: 300px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}
input:hover {
  border: 1px solid #6f42c1;
}
h2{
  font-family: 'Lexend Zetta', sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: black;
  margin-left: -20px;
  margin-bottom: 20px;
}
/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: 
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
} */

/* Mark the active step: 
.step.active {
  opacity: 1;
 
} */

/* Mark the steps that are finished and valid: 
.step.finish {
  background-color: #4CAF50;
} */
h3 {
  color:#212529;
}
.form-register #step-icon { 
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #ccc;
  margin-top: 25px;
  position: relative;
  outline: none;
  -o-outline: none;
  -ms-outline: none;
  -moz-outline: none;
  -webkit-outline: none;
  color: #fff;
  font-size: 25.6px;
  margin-right: 108px;
  display: block;
}
.form-register #step-icon i {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.form-register #step-icon::before,
.form-register #step-icon::after {
position: absolute;
content: "";
background: #e5e5e5;
width: 108px;
height: 2px;
top: 50%;
transform: translateY(-50%);
-o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.form-register #step-icon::before {
right: 100%;
}
.form-register #step-icon::after {
  left: 100%;
}

.form-register #step-icon {
  background: #24c1e8;
}
.form-register #step-icon::before,
.form-register #step-icon::after,
.form-register #step-icon::before {
background: #24c1e8;
}
.form-register .step-text {
color: rgb(0, 0, 0);
font-weight: 400;
font-size: 18px;
padding:  14px 0 8px;
}
.form-register .steps .current .step-text,
.form-register .steps .done .step-text {
color: #333;
}
.form-register #step-icon i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}